<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rwt.arknights.videos.dao.VideoMapper" >

    <resultMap  id="pageVO" type="com.rwt.arknights.videos.vo.VideoVO">
        <id property="aid" column="aid"></id>
        <result property="upName" column="up_name"></result>
        <result property="title" column="title"></result>
        <result property="imgUrl" column="img_url"></result>
        <result property="desc" column="desc"></result>
        <result property="stage" column="stage"></result>
        <result property="avgLevel" column="avg_level"></result>
        <result property="minLevel" column="min_level"></result>
        <result property="avgStar" column="avg_star"></result>
        <result property="totalTag" column="total_tag"></result>
        <!--映射关系，指定属性与属性的类型-->
        <collection  property="operators" ofType="com.rwt.arknights.videos.vo.OperatorVO">
            <id property="operatorId" column="operator_id"></id>
            <result property="name" column="name"></result>
            <result property="avatar" column="avatar"></result>
            <result property="jingying" column="jingying"></result>
            <result property="level" column="level"></result>
            <result property="skill" column="skill"></result>
            <result property="skillLevel" column="skill_level"></result>
            <result property="qianneng" column="qianneng"></result>
        </collection>
    </resultMap>
    <sql id="Base_Column">
      aid,`desc`,stage_id,title,img_url,`type`,up_name,total_tag
    </sql>



    <select id="selectByAid" resultType="com.rwt.arknights.videos.bean.Video">
        select *
        from video
        where aid = #{aid}
    </select>
    
    <insert id="save" parameterType="com.rwt.arknights.videos.bean.Video">
        insert into video (<include refid="Base_Column" />)
        VALUES (#{aid},#{desc},#{stageId},#{title},#{imgUrl},#{type},#{upName},#{totalTag})
    </insert>

    <select id="selectPageId" parameterType="com.rwt.arknights.videos.dto.QueryDTO" resultType="integer">
        select v.aid
        from video v
        inner join stage s on s.id = v.stage_id
        inner join video_list_rel vlr on v.aid = vlr.aid
        left join (
            select count(*) as num1, vlr.aid
            from video_list_rel vlr
            inner join list_operator_rel lor on lor.list_id = vlr.id
            <where>
                <if test="dto.exclude != null and dto.exclude.size() != 0">
                    lor.operator_id not in (
                    <foreach collection="dto.exclude" item="item" index="index" separator=",">
                        #{item}
                    </foreach>
                    )
                </if>
            </where>
            group by vlr.aid
        ) t1 on v.aid = t1.aid
        left join (
            select count(*) as num2, vlr.aid
            from video_list_rel vlr
            inner join list_operator_rel lor on lor.list_id = vlr.id
            <where>
              <if test="dto.aid != null and dto.aid.size() != 0">
                  lor.operator_id in (
                  <foreach collection="dto.aid" item="item" index="index" separator=",">
                      #{item}
                  </foreach>
                  )
              </if>
              <if test="dto.aid == null or dto.aid.size() == 0">
                  and 1 = 2
              </if>
            </where>

            group by vlr.aid
        ) t2 on v.aid = t2.aid
        inner join (
            select count(*) as nums, vlr.aid
            from video_list_rel vlr
            inner join list_operator_rel lor on lor.list_id = vlr.id
            group by vlr.aid
        ) t3 on v.aid = t3.aid
        <where>
            <if test="dto.stageId != 0">
                v.stage_id = #{dto.stageId}
            </if>
            <if test="dto.isTag">
                and v.total_tag > #{dto.minTag}
            </if>
            and (t1.num1 = t3.nums or (t1.num1 = t3.nums - 1 and t2.num2 > 0))
        </where>
        order by vlr.avg_level
        limit #{dto.pageNo} ,10
    </select>

    <select id="selectVideoVOByListId" resultMap="pageVO" parameterType="list">
        select v.aid, v.title, v.up_name, v.desc,  v.total_tag, v.img_url, v.total_tag,
        s.code as stage, vlr.avg_level, vlr.min_level, vlr.avg_star,
        o.id as operator_id, o.name, o.avatar, lor.jingying, lor.level, lor.skill, lor.skill_level, lor.qianneng
        from video v
        inner join stage s on s.id = v.stage_id
        inner join video_list_rel vlr on v.aid = vlr.aid
        inner join list_operator_rel lor on lor.list_id = vlr.id
        inner join operator o on o.id = lor.operator_id
        where v.aid in (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        order by vlr.avg_level
    </select>
</mapper>