.alertNotify {
    width: 25%;
    position: fixed;
    top: 3%;
    right: 37.5%;
    z-index: 10300;
}

.allertNotifyButton {
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
    color: currentColor;
    fill: currentColor;
}

.allertNotifyReadMore {
    cursor: pointer;
}

    .allertNotifyReadMore:hover {
        font-weight: bolder;
    }