<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/ak.css">
</head>
<body>
<div id="app">
    <mmenu></mmenu>
</div>
<template id="my-menu">
    <div>
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <span class="my-title">明日方舟作战记录馆</span>
            <el-menu-item index="1">
                <router-link to="/抄作业">我要抄作业</router-link>
            </el-menu-item>
            <el-menu-item index="2">
                <router-link to="/写作业">我要写作业</router-link>
            </el-menu-item>
        </el-menu>
        <router-view></router-view>
    </div>
</template>
<template id="copy">
    <div style="padding: 30px">
        <div>
            <el-button type="warning">排除干员列表</el-button>
            <div style="height: 20px;"></div>
            <el-table border style="width: 100%">
                <el-table-column align="center" prop="av" label="av号"></el-table-column>
                <el-table-column align="center" prop="title" label="标题"></el-table-column>
                <el-table-column align="center" prop="img" label="封面"></el-table-column>
                <el-table-column align="center" prop="stage" label="关卡"></el-table-column>
                <el-table-column align="center" prop="operator" label="干员列表"></el-table-column>
                <el-table-column align="center" prop="level" label="平均等级" sortable></el-table-column>
                <el-table-column align="center" prop="level" label="操作"></el-table-column>
            </el-table>
        </div>
    </div>
</template>
<!--我要写作业的视图-->
<template id="share">
    <div style="padding: 30px; width: 80%; margin: 0 auto">
        <!--表单-->
        <el-form ref="share_form" :rules="rules" :model="share_form" label-width="90px">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="视频av号" prop="aid">
                        <el-input v-model="share_form.aid" ></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="视频类型" >
                        <el-select style="width: 100%;" v-model="share_form.type" placeholder="请选择视频类型">
                            <el-option label="作业向" value="1"></el-option>
                            <el-option label="论文向" value="2"></el-option>
                            <el-option label="迫害向" value="3"></el-option>
                            <el-option label="其他" value="4"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-button type="success" @click="clickVideoInfo">预览视频信息</el-button>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="关卡类型">
                        <el-select style="width: 100%;" v-model="stage_type" @change="changeType()"
                                   placeholder="请选择关卡类型">
                            <el-option v-for="type in stage_type_list" :label="type.description"
                                       :value="type.description" v-bind:key="type.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="关卡代号">
                        <el-select style="width: 100%;" v-model="share_form.stage_id" placeholder="请先选择关卡代号">
                            <el-option v-for="s in stages" :label="s.code" :value="s.id" v-bind:key="s.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8" v-show="share_form.is_tag">
                    <el-form-item label="合约等级">
                        <el-select style="width: 100%;" v-model="share_form.total_tag" placeholder="请先选择合约等级">
                            <el-option v-for="i in 35" :label="i" :value="i" v-bind:key="i"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item label="选择干员">
                <el-button type="primary" @click="clickOperator">点击选择</el-button>
            </el-form-item>
            <table class="operator-table" cellpadding="0" cellspacing="0" border="1">
                <tr v-for="o in operators">
                    <td style="width: 40px">
                        <img :src="o.avatar" style="height:40px;display: inline-block;"/>
                    </td>
                    <td class="name-label">{{o.name}}</td>
                    <td>
                        <el-select style="width: 100%;" v-model="o.jingying" placeholder="精英化">
                            <el-option label="精零" value="1"></el-option>
                            <el-option label="精一" value="2"></el-option>
                            <el-option label="精二" value="3"></el-option>
                        </el-select>
                    </td>
                    <td>
                        <el-select style="width: 100%;" v-model="o.level" placeholder="等级">
                            <el-option v-for="i in 90" :label="i" :value="i" v-bind:key="i"></el-option>
                        </el-select>
                    </td>
                    <td>
                        <el-select style="width: 100%;" v-model="o.skill" placeholder="技能选择">
                            <el-option label="一技能" value="1"></el-option>
                            <el-option label="二技能" value="2"></el-option>
                            <el-option label="三技能" value="3"></el-option>
                        </el-select>
                    </td>
                    <td>
                        <el-select style="width: 100%;" v-model="o.skill_level" placeholder="技能等级">
                            <el-option v-for="i in 7" :label="i" :value="i" v-bind:key="i"></el-option>
                            <el-option label="专精一" value="8"></el-option>
                            <el-option label="专精二" value="9"></el-option>
                            <el-option label="专精" value="10"></el-option>
                        </el-select>
                    </td>
                    <td>
                        <el-select style="width: 100%;" v-model="o.qianneng" placeholder="潜能">
                            <el-option label="零潜" value="0"></el-option>
                            <el-option label="一潜" value="1"></el-option>
                            <el-option label="二潜" value="2"></el-option>
                            <el-option label="三潜" value="3"></el-option>
                            <el-option label="四潜" value="4"></el-option>
                            <el-option label="五潜" value="5"></el-option>
                        </el-select>
                    </td>
                </tr>
            </table>

        </el-form>
        <el-button style="margin: 20px;" type="primary" @click="onSubmit">上传作业</el-button>
        <!--选择关卡-->
        <select-operator ref="select_operator" @confirm="confirmOperators"></select-operator>

        <video_info ref="video_info" ></video_info>
    </div>
</template>
<template id="selectOperator">
    <div>
        <el-dialog title="请选择干员" :visible.sync="visible" width="30%" :close-on-click-modal=false>
            <el-input placeholder="输入关键字进行过滤" v-model="filterText"></el-input>
            <el-tree :data="data" accordion show-checkbox node-key="id" ref="tree" highlight-current
                     :props="defaultProps" :filter-node-method="filterNode">
              <span class="custom-tree-node" slot-scope="{ node, data }">
                <span><img style="height: 19.2px; vertical-align: top;" :src="data.avatar"/></span>
                <span>{{ node.label }}</span>
              </span>
            </el-tree>
            <span slot="footer" class="dialog-footer">
                <el-button @click="visible = false">取 消</el-button>
                <el-button type="primary" @click="confirm">确 定</el-button>
             </span>
        </el-dialog>
    </div>
</template>
<template id="videoInfo">
    <div>
        <el-dialog title="视频信息" :visible.sync="visible" width="30%">
            <el-form label-width="50px">
                <el-form-item label="av号">
                    <el-input v-model="info.aid" disabled></el-input>
                </el-form-item>
                <el-form-item label="Up主">
                    <el-input v-model="info.upName" disabled></el-input>
                </el-form-item>
                <el-form-item label="标题">
                    <el-input v-model="info.title" disabled></el-input>
                </el-form-item>
                <el-form-item label="封面">
                    <img :src="info.pic" style="height: 150px;"/>
                </el-form-item>
                <el-form-item label="简介">
                    <el-input type="textarea" v-model="info.desc" disabled></el-input>
                </el-form-item>

            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="visible = false">关闭</el-button>
             </span>
        </el-dialog>
    </div>
</template>


</body>
<!--<script src="/js/vue.min.js"></script>-->
<script src="/operators.js"></script>
<script src="/stage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const VideoInfo = {
        template: '#videoInfo',
        data() {
            return {
                visible: false,
                info: {
                    aid: 1,
                    upName: '',
                    title: '',
                    desc: '',
                    pic: '',
                }
            }
        },
        methods: {
            async show(aid) {
                var res = await axios.post('/video/getInfo?aid=' + aid);
                if(!res.data.status) {
                    this.$message.error('查询b站视频信息错误，请确认AV号正确');
                    return;
                }
                this.info = res.data.data;
                this.visible = true;
            }
        }
    };
    const SelectOperator = {
        template: '#selectOperator',
        data() {
            return {
                filterText: '',
                visible: false,
                data: operators,
                defaultProps: {
                    children: 'children',
                    label: 'name',
                }
            }
        },
        methods: {
            show() {
                this.visible = true;
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.name.indexOf(value) !== -1;
            },
            confirm() {
                var arr = this.$refs.tree.getCheckedNodes();
                for (var i = 0; i < arr.length; i++) {
                    if (!arr[i].id) {
                        arr.splice(i, 1); // 将使后面的元素依次前移，数组长度减1
                        i--; // 如果不减，将漏掉一个元素
                    }
                }
                if(arr.length > 13) {
                    this.$message.error('最多加入13名干员');
                    return;
                }
                this.$emit('confirm',arr);
                this.visible = false;
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        }
    };

    const Share = {
        data() {
            return {
                share_form: {
                    aid: null,
                    type: '',
                    stage_id: 5,
                    total_tag: 1,
                    is_tag: false,
                },
                rules: {
                    aid: [
                        { required: true, message: '请输入av号', trigger: 'blur' },
                        { type: 'number', message: 'av号必须为数字'}
                    ],
                },
                operators:[],
                select_operators: [],
                stage_visible: false,
                stage_type_list: stageTypeList,
                stage_map: stageMap,
                stage_type: '主线剧情',
            }
        },
        methods: {
            onSubmit() {
                this.$refs['share_form'].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        alert('error submit!!');
                        return false;
                    }
                });
            },
            clickOperator() {
                this.$refs.select_operator.show();
            },
            clickVideoInfo() {
                if (!this.share_form.aid) {
                    this.$message({
                        message: '请先输入AV号',
                        type: 'warning'
                    });
                    return;
                }
                this.$refs.video_info.show(this.share_form.aid);
            },
            changeType() {
                this.share_form.stage_id = this.stage_map[this.stage_type][0].id;
                var list = this.stage_type_list;
                var type = this.stage_type;
                for (var i = 0; i < list.length; i++) {
                    if (list[i].description == type) {
                        this.share_form.is_tag = list[i].isTag;
                        break;
                    }
                }
            },
            digitOnly(e) {
                let a = e.key.replace(/[^\d]/g, "");
                if (!a) {
                    e.preventDefault();
                }
            },
            confirmOperators(arr) {
                this.operators = arr;
            }
        },
        computed: {
            stages: function () {
                return stageMap[this.stage_type];
            }
        },
        template: '#share',
        components: {
            'select-operator': SelectOperator,
            'video_info': VideoInfo,
        }
    };

    const Copy = {template: '#copy'};
    const Menu = {
        data() {
            return {
                activeIndex: '1',
            };
        },
        template: '#my-menu',

    };
    const routes = [
        {path: '/抄作业', component: Copy},
        {path: '/写作业', component: Share},
        {path: '/', component: Copy}
    ];
    const router = new VueRouter({routes});
    new Vue({
        el: '#app',
        router,
        components: {
            mmenu: Menu, // 注册组件
        },
        created() {
//            axios.get('/work/operator/list',{       // 还可以直接把参数拼接在url后边
//                params:{
//                }
//            }).then(function(res){
//                console.info(res)
//            }).catch(function (error) {
//                console.log(error);
//            });
        }
    })


</script>
</html>